<template name="navigation">
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper">
				<a href="/" class="brand-logo center"> <i class="material-icons" style="float: left">cloud</i>  CloudCustomers</a>
				<!-- Nav Button -->
				<a href="#" data-activates="mobile-demo" class="right button-collapse"><i class="material-icons">menu</i></a>
				<!-- Full Navigation -->
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li class="{{params.homeLink}}"><a href="/" >Customers</a></li>
					<li class="{{params.newLink}}"><a href="/new" >New</a></li>
				</ul>
				<!-- Mobile Navigarion -->
				<ul class="side-nav " id="mobile-demo">
					<li><a href="/">Customers</a></li>
					<li><a href="/new">New</a></li>
				</ul>
			</div>
		</nav>
	</div>
</template>